@model List<BL.Models.BLPhoto>

@{
    ViewData["Title"] = "Search";
}
<style>
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1>Search</h1>
<br />
<br />
<a asp-action="Profile"> <p class="w3-xlarge"><i class="fa fa-home"></i> Home</p></a>

@{

    if (Model == null)
    {
        <h2>There is no photos with this tag name</h2>
    }

    foreach (var item in Model)
    {
        <div class="row">
            <div class="column allImages">
                <img id="@item.Id" src="@item.Image" alt="@item.Ipic" width="200" height="800">
            </div>
            <div class="column">
                <h5><b>IPTC</b></h5>
                <p>Tags: @item.BlIptc.Note</p>
                <p>Note: @item.BlIptc.Text</p>
            </div>
            <div class="column">
                <h5><b>EXIF</b></h5>
                <p>Brand: @item.BLExif.CameraMaker</p>
                <p>Model: @item.BLExif.CameraModel</p>
                <p>IOS: @item.BLExif.IosSpeed</p>
                <p>Metric: @item.BLExif.MeteringMode</p>
            </div>
            <div class="column">
                @Html.ActionLink("Edit", "EditPhoto", new { id = item.Id }) <i class="fas fa-pen"></i>
            </div>
        </div>
        <br />
        <br />
    }

}
